* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*header-aren estiloa*/
.header {
    background-color: #0048ff;
    height: 65px;
}
.img1{
    height: 100%;
    padding: 6px;
}

/*Menu Desplegatzailea*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
.dropdown {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* hover menu*/
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
    color:rgb(238, 255, 0);
}

/*Desplegatzailearen estiloak */
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #006eff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
} 
.dropdown-content a:hover {background-color: #006eff;}
.dropdown:hover .dropdown-content {
    display: block;
}

  /* Eskerreko kolumna */
.atala1 {   
    float: left;
    width: 65%;
}
    /* Card effect Tabla*/
.card2 { 
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
        color: #ffffff; 
        font-size: 16px; 
        font-weight: 400%; 
        text-align: center; 
        background: #889ccf; 
        margin: 3%;
        margin-top: 2%;
        overflow: hidden; 
        padding: 4%; 
        border-radius: 20px 0px 20px 0px; 
        -moz-border-radius: 20px 0px 20px 0px; 
        -webkit-border-radius: 5px 0px 5px 0px; 
        border: 2px solid #5878ca;
}
  /* Flotagailuak ezabatu zutabeen ondoren */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Taula*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
} 
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #b1afaf;
}

/*cards*/
.card{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:660px;
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 10px;
}
.izenburua{
    font-size: 24px;
    padding: 10px 10px 0 10px;
}
.gorputza{
    padding: 10px;
}
.card3{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width:660px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 60%;
    margin-top: -56%;
}
.card13{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width:660px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 60%;
    margin-top: 5%;
}
.card14{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width:660px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: -35%;
}
.izenburua3{
    font-size: 24px;
    padding: 10px 10px 0 10px;
}
.gorputza3{
    padding: 10px;
}

/*Historia*/
.paginas2{
    color: #0048ff ;
    margin-left: 5%;
    margin-top: 35px;
}
.imghistoria{
    width: 200px;
    height: auto;
    position: relative;
    left: 36%;
    margin-top: 5%;
}
.card4{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width: 965px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 200px;
    margin-bottom: 2%
}
.gorputza4{
    padding: 10px;
    text-align: justify;
}
.izenburua4{
    padding: 10px 10px 0 10px;
}
.listah{
    text-decoration: dotted;
}

/*Historia card 2*/
.card5{
    position: absolute;
    width: 30%;
    top: 25%;
    left: 65%;
    padding-left: 20px;
    background-color: #f1f1f1;
    flex-direction:column;
    justify-content:space-between;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}
.izenburua5{
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.gorputza5{
    padding: 5px;
    width: 500px;
}
.card6{
    position: absolute;
    width: 32%;
    top: 65%;
    left: 65%;
    padding-left: 1%;
    background-color: #f1f1f1;
    flex-direction:column;
    justify-content:space-between;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}

/*Zuzendaritza batzordea*/
h1{
    color: #0048ff;
    margin-left: 30px;
}
.card7{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width: 965px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 200px;
}
.gorputza7{
    padding: 10px;
    text-align: justify;
}
.lista3{
    text-decoration: dotted;
}
.card8{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width: 355px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.izenburua8{
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.gorputza8{
    padding: 10px;
    text-align: justify;
}
/*Presidenteordea*/
.card9{
    position: absolute;
    flex-direction:column;
    justify-content:space-between;
    width: 385px;
    left: 24%;
    top: 57%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 200px;
    margin-top: 15px;
}
.izenburua9{
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.gorputza9{
    padding: 10px;
    text-align: justify;
    width: 50px;
}
/*Batzorde Kidea*/
.card10{
    position: absolute;
    flex-direction:column;
    justify-content:space-between;
    width: 500px;
    left: 1000px;
    top: 19%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 200px;
    margin-top: 15px;
}
/*Footer2 Zuzendaritza Batzordea*/
.footer2 {
    background-color: #0048ff;
    padding: 10px;
    text-align: left;
    color: yellow;
    width: 100%;
}
/*Taldeak 1-6*/
#taldeak{
    color: #0048ff;
    margin-left: 5%;
    margin-top: 5%;
}
h3{
    text-decoration: none;
    margin-left: 5%;
    color: #0048ff;
}
.card11{
    position: static;
    width: 1400px;
    padding-left: 20px;
    flex-direction:column;
    justify-content:space-between;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.gorputza11{
    width: 300px;
}
.laztimendi:hover {
    opacity: 0.5;
}
.card12{
    position: static;
    width: 900px;
    padding-left: 20px;
    flex-direction:column;
    justify-content:space-between;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-left: 45px;
    padding-top: 10px;
    padding-bottom: 85px;
    margin-bottom: 15px;
}
.gorputza12{
    width: 300px;
}

/*Bazkide Nagusiak*/

div.gallery {
    margin: 5px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    float: left;
    width: 350px;
    margin-top: 2%;
    margin-left: 3%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery .bazkide {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.gallery1 {
    position: absolute;
    margin: 5px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    float: left;
    width: 350px;
    margin-top: 2%;
    margin-left: 3%;
    top: 34%;
}
div.gallery1:hover {
    border: 1px solid #777;
}

div.gallery1 .bazkide {
    width: 100%;
    height: auto;
}
div.gallery2 {
    position: absolute;
    margin: 5px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    float: left;
    width: 350px;
    margin-top: 2%;
    margin-left: 47%;
    top: 47%;
}
div.gallery2:hover {
    border: 1px solid #777;
}

div.gallery2 .bazkide {
    width: 100%;
    height: auto;
}
div.gallery3 {
    position: absolute;
    margin: 5px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    float: left;
    width: 350px;
    margin-top: 2%;
    margin-left: 25%;
    top: 39%;
}
div.gallery3:hover {
    border: 1px solid #777;
}

div.gallery3 .bazkide {
    width: 100%;
    height: auto;
}
.footer {
    background-color: #0048ff;
    padding: 10px;
    text-align: left;
    color: yellow;
    width: 153.8%;
}
.footer3 {
    background-color: #0048ff;
    padding: 10px;
    text-align: left;
    color: yellow;
    width: 100%;
    margin-top: 40%;
}